h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
}

.hero-section {
  width: 100%;
  height: auto;
  background-color: #9e947e;
  color: white;
  position: relative;
}

.hero-section .blob {
  position: absolute;
  z-index: 0;
}

.hero-section .content-box {
  position: relative;
  z-index: 99999;
  width: 100%;
  height: auto;
  padding: 100px;
}

.hero-section .content-box .summary-section {
  margin-top: 15px;
  display: block;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.hero-section .content-box .summary-section article .page-summary {
  margin-top: 5px;
  margin-left: 25px;
}

.hero-section .content-box .summary-section article .page-summary li a {
  color: white;
  text-decoration: underline;
  transition: font-size 0.2s ease;
}

.hero-section .content-box .summary-section article .page-summary li a:hover, .hero-section .content-box .summary-section article .page-summary li a:focus {
  font-size: 1.1rem;
}

.hero-section .wave {
  z-index: 2;
  position: relative;
  bottom: -5px;
}

.standard-section {
  width: 100%;
  height: auto;
  padding: 100px 20%;
}

.standard-section p {
  margin-top: 20px;
}

.image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-section article {
  flex: 1;
}

.image-section img {
  flex: 1;
}

.basic-section-1 {
  background-color: white;
}

.basic-section-2 {
  background-color: whitesmoke;
}

@media screen and (max-width: 520px) {
  .hero-section .content-box {
    padding: 10%;
  }
  .standard-section {
    padding: 10%;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}
