@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "header main" "footer footer";
  grid-template-columns: 80px calc(100% - 80px);
  scroll-behavior: smooth;
  word-break: normal;
}

body header {
  grid-area: header;
  color: white;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9999;
}

body header .logo-container {
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #282828;
}

body header .logo-container .logo {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./../assets/images/icon-1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

body header nav {
  width: 100%;
  height: auto;
  top: 0;
  position: sticky;
  overflow-y: auto;
  overflow-x: hidden;
}

body header nav::-webkit-scrollbar {
  display: none;
}

body header nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

body header nav ul li {
  width: 80px;
  height: 80px;
  transition: height 0.4s ease-in-out;
}

body header nav ul li a {
  cursor: pointer;
  display: flex;
  width: 80px;
  height: 80px;
}

body header nav ul li a svg {
  width: 80%;
  height: 80%;
  margin: auto;
}

body header nav ul li::after {
  content: attr(title);
  width: 80px;
  height: 0;
  position: absolute;
  left: 17px;
  display: table-cell;
  vertical-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  font-size: 0.7em;
}

body header nav ul li:hover {
  height: 110px;
}

body header nav ul li:hover::after {
  opacity: 1;
}

body main {
  grid-area: main;
  background-color: #c7bda7;
}

body footer {
  grid-area: footer;
  background-color: #1e1e1e;
  color: white;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}

body footer section {
  width: auto;
}

body footer section h6 {
  font-size: 1.5em;
}

body footer section ul {
  list-style: none;
}

body footer .shameless-plugs .links {
  width: auto;
  padding: 50px;
  display: grid;
  grid-template-areas: "instagram youtube" "twitter otherwebsite";
  row-gap: 50px;
  column-gap: 50px;
  grid-template-columns: 50px 50px;
}

body footer .shameless-plugs .links li a {
  margin: auto;
  width: 50px;
  height: 50px;
}

body footer .shameless-plugs .links .instagram {
  grid-area: instagram;
}

body footer .shameless-plugs .links .instagram a {
  background-image: url("./../assets/svgs/iconmonstr-instagram-11.svg");
}

body footer .shameless-plugs .links .youtube {
  grid-area: youtube;
}

body footer .shameless-plugs .links .youtube a {
  background-image: url("./../assets/svgs/iconmonstr-youtube-9.svg");
}

body footer .shameless-plugs .links .twitter {
  grid-area: twitter;
}

body footer .shameless-plugs .links .twitter a {
  background-image: url("./../assets/svgs/iconmonstr-twitter-1.svg");
}

body footer .shameless-plugs .links .other-website {
  grid-area: otherwebsite;
}

body footer .shameless-plugs .links .other-website a {
  background-image: url("./../assets/svgs/web-white-18dp.svg");
}

body footer .credits {
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(100, 100, 100, 0.5);
}

.fullscreen-section {
  width: 100%;
  height: 100vh;
}

h1, h2 {
  font-family: "Josefin Slab";
}

h3, h4, h5, h6 {
  font-family: "Poppins";
}

p {
  font-family: "Kanit";
}

article p {
  text-align: justify;
}

a {
  color: gray;
  cursor: pointer;
}

.image-link {
  display: block;
  background-size: contain;
}

button {
  display: block;
  border: none;
  padding: 30px;
  font-family: "Kanit";
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

button::after, button::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 3px;
  margin: 3px 0 0;
  transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
  background-color: #141414;
  left: 0;
}

button:hover, button:focus {
  background-color: #e6e6e6;
}

button:hover::after, button:hover::before, button:focus::after, button:focus::before {
  width: 100%;
  opacity: 1;
}

ul, ol {
  font-family: "Kanit";
}

ul {
  list-style: url("./../assets/svgs/done-black-18dp.svg");
}

img, video {
  box-shadow: 0px 0px 5px 3px rgba(20, 20, 20, 0.5);
}

@media only screen and (max-width: 1000px) {
  body footer {
    padding: 50px;
  }
}

@media only screen and (max-width: 700px) {
  body footer {
    flex-direction: column;
  }
  body footer .credits {
    width: 100%;
  }
  body footer .shameless-plugs .links {
    gap: 25px;
  }
}

@media screen and (max-width: 380px) {
  body {
    display: block;
  }
  body header {
    position: fixed;
    z-index: 3;
    top: 0;
    flex-direction: row;
    width: 100%;
    height: 80px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  body header nav {
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1;
    position: static;
    top: 0;
    width: calc(100% - 80px);
    height: 80px;
  }
  body header nav ul {
    flex-direction: row;
    height: 80px;
    list-style: none;
  }
  body header .logo-container {
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: #282828;
  }
  body header .logo-container .logo {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("./../assets/images/icon-1.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  main {
    margin-top: 80px;
  }
}
